<div class="card-deck center-left container">
        <!-- Card -->
        <mdb-card class="mx-3">
            <div class="view overlay waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
                <h4>Users</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Insert new users,Update exisiting user's details,Find users and Delete users.
            </mdb-card-text>
        
            <a href="#" mdbBtn color="cyan" mdbWavesEffect>Button</a>
            </mdb-card-body>
        </mdb-card>
        
        <!-- Card -->
        <mdb-card class="mx-3">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
            <a>
                <div class="mask"></div>
            </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
                <h4>Books</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Insert new books,Update exisiting book details,Find books and Delete books.
            </mdb-card-text>
        
            <a href="#" mdbBtn color="cyan" mdbWavesEffect>Button</a>
            </mdb-card-body>
        </mdb-card>
        
        <!-- Card -->
        <mdb-card  class="mx-3">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
            <a>
                <div class="mask"></div>
            </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
                <h4>Order Details</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Insert new orders,Update exisiting order details,Find order and Delete order.
            </mdb-card-text>
        
            <a href="#" mdbBtn color="cyan" mdbWavesEffect>Button</a>
            </mdb-card-body>
        </mdb-card>
        </div>